 /* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
  
p {
  color: gray;
  font-style: italic;
}
h1 {
  color: navy;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

h3 {
  color: navy;
  font-weight: bold;
  text-decoration: underline;
  font-family: Helvetica, sans-serif;
}

img{
  height: 300px;
  width: 300px;
  border: 3px solid #00BBF9;
  box-shadow: 1px 3px 30px 1px #78e8e8;
}

h1{
  font-size:2em;
  color:#FEBA9D;
  border: 3px solid #00BBF9;
  border-radius: 10px;
  border-width: 50%;
}
h2{
  font-size:1.5em;
  color:#EA526F;
}
h3{
  font-size:1em;
  color:#f49c76;
}
h5{
  font-weight: lighter;
  color:#F15BB5;
}

p{
  font-size: 0.95em;
  color:#e89f30;
}

#red{
  border: 3px solid red;
  width: 30%;
  vertical-align: middle;
  display: inline-block;

  padding: 1rem 1rem;
  vertical-align: middle;
}
#green{
  border: 3px solid green;
  width: 30%;
  vertical-align: middle;
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}
#blue{
  border: 3px solid blue;
  width: 30%;
  vertical-align: middle;
  display: inline-block;
  
  padding: 1rem 1rem;
  vertical-align: middle;
}
#container{
  border: 3px solid white;border: 1px solid black;
          margin: 1rem;
          padding: 2rem 2rem;
          text-align: center;}

body{background-color: lightblue;}